 /* body styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* This is header style  */
header{
 background-image: url(./baner/banner2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.header-div{
  text-align: right;
  align-items: center;
 padding: 50px;
}
.first-heading{
   font-size: 45px;
 text-align: right; 
align-items: center;
margin-top: 300px;


}
.first-description{
  text-align: right;
  align-items: center;
}
.home-btn{
    background-color: blue;
    color: white;
    border-radius: 7px;
    font-weight: 700;
   width: 120px;
   height: 5vh;
 margin-top: 10px;
    font-size: 16px;
}

/* human succes quality styles  */
.global-section{
    padding: 3rem;
    margin-top: 70px;
    margin: auto;
    width: 1200px;
    justify-content: center;
 
}
.global-img{
    width: 550px;
    height: 550px;
    border-radius: 50%;
 
  
}
.global-heading{
    font-size: 45px;
    text-align: center;
    font-weight: bold;
   
    
}
.about-main-div{
    display: flex;
 justify-content: space-around;
    align-items: center;
    margin-top: 20px;
 
    padding: 3rem 2rem;

}
.about-sub-div2{
    width: 400px;
}
.about-sub-div2 h1{
    font-size: 35px;

}
.about-sub-div2 p{
    font-size: 20px;
    margin: 15px 0px;
  color: rgba(59, 57, 57, 0.87);
}
.about-sub-div2 ol{
    margin-right: 20px;
    color: darkgrey;
    margin-left: 20px;
}


/* 2023 planing styles  */
.planing-main-container{
    display: flex;
 justify-content: space-around;
   align-items: center;
   margin-top: 40px;
   box-shadow: 5px 5px 7px 4px gray;
   border-radius: 10px;
}
.planing-main-container p{
    color: darkgrey;
    font-size: 18px;
    text-align: center;
    align-items: center;
    padding: 10px;
}
.planing h2{
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 10px;
  
    padding: 10px;
}
.planing{
    text-align: center;
    align-items: center;
    padding: 15px;
}


/* portfolio section styles  */
.pofolio-img{
    width: 300px;
    height: 250px;
}
.portfolio-heading{
    text-align: center;
    align-items: center;
}

/* this is gridiant style  */
.blding-imge{
  
    height:300px;
    box-shadow: 5px 5px 5px 6px black;
  background-image: url('./images/watch.png'), url('./images/gradient3.png'), linear-gradient(rgba(190, 0, 218, 0.9), rgba(163, 4, 4, 0));
   
    background-blend-mode: overlay;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 18px;
    margin-bottom: 60px;
    margin-left: 400px;
    background-repeat: no-repeat;

}
.blding-imge-container{
    padding: 55px 0 0 65px;
}
.blding-imge-title{
    color: #ffffff;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 22px;
    margin-top: 8px;
}



/* footer styles */
.main-footer{
    width:100%;
    height: 60vh;
    background-color: black;
    display: flex;
   justify-content: space-between;
    padding: 130px 200px; 
}

.main-footer img{
    padding: 5px;
 margin-bottom: 70px;

}

.main-footer .footer-heading{
    text-align: left;
}
.footer-heading{
 
    color: white;
    font-size: 40px;
}
.sub-footer{
    padding-bottom: 10px;
   

}
.fotter-description{
  
    color: white;
    font-size: 18px;
}
.footer-sub-heading{
  
    color: white;
}
/* form styles  */
.email-form{
    width: 100%;
    height: 6vh;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;

}

/* button styles  */
.btn{
 color: chocolate;
    font-size: 25px;
    font-weight: bold;
  background-color: gainsboro;
   padding: 10px 20px;
    border-radius: 5px;
    margin-top: 40px;
}
